.container h1 {
	margin-bottom: 20px;
}

svg {
	padding: 0px !important;
	margin-bottom: 20px;
}

svg g rect {
	fill: #10316B;
	stroke: black;
	stroke-width: 2px;
}

svg g rect:hover {
	fill: #FDBE34;
	stroke-width: 3px;
}

svg g.axis text {
	fill: #666;
}

svg g.data text {
	fill: #333;
}