.container h1 {
	margin-bottom: 20px;
}

.row svg {
	border: solid 1px #ccc;
	border-radius: 5px;
}
.row{
	margin-bottom: 20px;
}
#htmlBlock{
	height: 256px;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 10px;
}
#htmlBlock * {
	border: solid 1px #303481;
	padding: 1px 3px;
}
#codeBlock pre{
	height: 200px;
}
#exampleGround{
	z-index: 9;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 250px;
	transform: translate(-50%, -50%);
}
#exampleGround button.copy{
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translate(-50%, 0);
}
#exampleGround button.close{
	position: absolute;
	right: 5px;
	top: 5px;
}
#codeBlock textarea{
	margin-bottom: 10px;
	resize: none;
	height: 200px;
}

.node {
  fill: steelblue;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.text {
	font-size: 12px;
}